@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">Datenbank des Denkmalschutzverein Wiener Neustadt</div>

    </nav>

    <div class="content px-4">
        @Body
    </div>
</div>
