@using DSV_Frontend.ViewModels;
 
@if (this.ViewModel != null)
{
<div class="row">
    @foreach (var item in this.ViewModel.Books)
    {
        <div class="mt-2 col-lg-4 col-md-6 col-sm-12">
            <DSV_Frontend.UI_Controls.Display.FPViewData IsClickable="true" Display="@($"{item.Title}\n{item.Author}")"></DSV_Frontend.UI_Controls.Display.FPViewData>
        </div>
    }
</div>
}

@code {
    [Parameter]
    public BookListViewModel ViewModel { get; set; }
}
