@inherits FPControlBase
<div>
    <RadzenCard Style="@(this.OnClick.HasDelegate ? "cursor:pointer" : "")" @onclick="@this.OnClick">
        @if (!this.HideLabel)
        {
            <FPLabel Text="@Label"></FPLabel>
            <hr />
        }

        @if (this.ChildContent != null)
        {
            @this.ChildContent;
        }
        else
        {
            <h1>No Content set.</h1>
        }
    </RadzenCard>
</div>
  

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}
