@using DSV_Frontend.ViewModels;
@using DSV_Frontend.UI_Controls.Display
 
@if (this.ViewModel != null)
{
    <div class="row">
        @foreach (var item in this.ViewModel.Articles)
        {
            <div class="mt-2 col-lg-4 col-md-6 col-sm-12">
                <FPViewData NavigationURI="@($"/details/article/{item.AssetID}")" IsClickable="true" Display="@($"Artikel ID: {item.AssetID}\nTitel: {item.Title}\nAutor: {item.Author}")"></FPViewData>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public ArticleListViewModel ViewModel { get; set; }
}
