@page "/success"
@inject NavigationManager NavManager;
 
<h1>Success</h1>
<DSV_Frontend.UI_Controls.FormControls.Buttons.FPReturnButton Text="Zurück zur Ansicht" OnClick="@(() => this.NavManager.NavigateTo("/assetlist"))"></DSV_Frontend.UI_Controls.FormControls.Buttons.FPReturnButton>
