@page "/fetchdata"

@using DSV_Frontend.Services
@using DSV_Frontend.ViewModels
@using DSV_Frontend.UI_Controls.FormControls
@using DSV_Frontend.UI_Controls.Display
@using SharedDefinitions.DTOs
@using SharedDefinitions.Enumerations
@using SharedDefinitions.Services;

@inject IObjectMappingService ObjectMapper
@inject IAssetFetchingService AssetFetchingService
@inject IRouteGuardService RouteGuardService
@inject NavigationManager NavManager
@inject AppState AppState 

@if (!this.isAllowed)
{
    <FPLoadPage></FPLoadPage>
}
else
{
        <FPFilterTool InvokeFilterCallback="@(async (filter) => await this.Search(filter))">

        </FPFilterTool>
    @if (this.viewModel?.Data?.Count() > 0)
    {
        switch (this.AppState.ListType)
        {
            case ListType.Books:
                <FPBookList ViewModel="@(this.ObjectMapper.Map<ICollection<DatabaseAssetDTO>, BookListViewModel, DatabaseAssetDTO, BookDataDTO>(this.viewModel.Data))"></FPBookList>
                break;
            case ListType.Articles:
                <FPArticleList ViewModel="@(this.ObjectMapper.Map<ICollection<DatabaseAssetDTO>, ArticleListViewModel, DatabaseAssetDTO, ArticleDataDTO>(this.viewModel.Data))"></FPArticleList>
                break;
            case ListType.Other:
                <FPImageList ViewModel="@(this.ObjectMapper.Map<ICollection<DatabaseAssetDTO>, ImageListViewModel, DatabaseAssetDTO, ImageDataDTO>(this.viewModel.Data))"></FPImageList>
                break;
            default:
                break;
        }
    }
    else
    {
        <h1>Keine Daten!</h1>
    }
}

@code {
    private FetchDataViewModel viewModel { get; set; }
    private bool isAllowed;

    protected override async Task OnInitializedAsync()
    {
        this.isAllowed = false;

        if (!await this.RouteGuardService.VerifySecurityToken())
        {
            this.NavManager.NavigateTo("/login");
        }

        var filter = new MultipleDatabaseAssetFilterDTO();
        filter.ListType = this.AppState.ListType;

        await this.Search(filter);

        this.isAllowed = true;

        await base.OnInitializedAsync();
    }

    private async Task Search(MultipleDatabaseAssetFilterDTO filter)
    {
        this.AppState.ListType = filter.ListType;
        var queryData = await this.AssetFetchingService.FetchAssets(filter);
        this.viewModel = new FetchDataViewModel();
        this.viewModel.Data = queryData;
        this.StateHasChanged();
    }
}
